[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "<4"

[packages]
django = "<2.3"
gunicorn = "*"
fabric = "*"
patchwork = "*"

[requires]
python_version = "3.7"

[scripts]
start = "gunicorn --bind unix:/tmp/lists-staging.aviananalyst.tk.socket superlists.wsgi:application"
update_db = "python manage.py migrate --noinput"
collect_static = "python manage.py collectstatic --noinput"
