[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=Kylan
WorkingDirectory=/home/Kylan/sites/DOMAIN
EnvironmentFile=/home/Kylan/sites/DOMAIN/.env

ExecStart=/home/Kylan/.local/bin/pipenv run start

[Install]
WantedBy=multi-user.target
